@import url("https://use.typekit.net/jmk3xov.css");

:root {
  --dark-bg: rgba(15, 15, 15, 0.55);
  --spacing: 800px;
  --effect: hover 1s linear infinite;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
body::-webkit-scrollbar {
  background-color: #000000;
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a9a9a9;
}

main {
  width: 95vw;
  color: white;
  z-index: 99;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3 {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  grid-column: 1 / 13;
  height: 100vh;
}

section {
  background-color: var(--dark-bg);
  grid-column: 2 / 8;
  padding: 2rem;
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  border-radius: 50px;
}

.left {
  grid-column: 6 / 12;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  section {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 400px) {
  section {
    font-size: 1rem;
  }
}

/* ************ */
/* Loading page */
/* ************ */
.progress-container {
  position: fixed;
  /* left: 50%;
  top: 10%;
  transform: translate(-50%, -50%); */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fancy p {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  font-family: arial;
  font-weight: 600;
  transform: scale(0.5);
  color: #121212;
  -webkit-text-stroke: 2px gray;
}

.fancy p:nth-child(1) {
  animation: var(--effect);
}

.fancy p:nth-child(2) {
  animation: var(--effect) 0.125s;
}

.fancy p:nth-child(3) {
  animation: var(--effect) 0.25s;
}

.fancy p:nth-child(4) {
  animation: var(--effect) 0.375s;
}

.fancy p:nth-child(5) {
  animation: var(--effect) 0.5s;
}

.fancy p:nth-child(6) {
  animation: var(--effect) 0.675s;
}

.fancy p:nth-child(7) {
  animation: var(--effect) 0.75s;
}

@keyframes hover {
  0% {
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }

  20% {
    transform: scale(1);
    color: pink;
    -webkit-text-stroke: 3px red;
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black)
      drop-shadow(0 0 3px red) drop-shadow(0 0 5px red) hue-rotate(10turn);
  }

  50% {
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }
}

.planet {
  display: block;
  width: 125px;
  height: 125px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #fcc96b;
  background: rgb(252, 201, 107);
  background: linear-gradient(
    180deg,
    rgba(252, 201, 107, 1) 0%,
    rgba(252, 201, 107, 1) 15%,
    rgba(247, 174, 1, 1) 15%,
    rgba(247, 174, 1, 1) 19%,
    rgba(252, 201, 107, 1) 19%,
    rgba(252, 201, 107, 1) 22%,
    rgba(247, 174, 1, 1) 22%,
    rgba(247, 174, 1, 1) 28%,
    rgba(252, 201, 107, 1) 28%,
    rgba(252, 201, 107, 1) 31%,
    rgba(252, 201, 107, 1) 33%,
    rgba(252, 201, 107, 1) 36%,
    rgba(247, 174, 1, 1) 36%,
    rgba(247, 174, 1, 1) 48%,
    rgba(252, 201, 107, 1) 48%,
    rgba(252, 201, 107, 1) 55%,
    rgba(247, 174, 1, 1) 55%,
    rgba(247, 174, 1, 1) 66%,
    rgba(252, 201, 107, 1) 66%,
    rgba(252, 201, 107, 1) 70%,
    rgba(247, 174, 1, 1) 70%,
    rgba(247, 174, 1, 1) 73%,
    rgba(252, 201, 107, 1) 73%,
    rgba(252, 201, 107, 1) 82%,
    rgba(247, 174, 1, 1) 82%,
    rgba(247, 174, 1, 1) 86%,
    rgba(252, 201, 107, 1) 86%
  );
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),
    inset 8px -4px 6px rgba(199, 128, 0, 0.5),
    inset -8px 4px 8px rgba(255, 235, 199, 0.5), inset 20px -5px 12px #f7ae01,
    0 0 100px rgba(255, 255, 255, 0.35);
  transform: rotateZ(-15deg);
}

.planet::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 16px solid #7b6f42;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #b1a693;
  animation: rings1 0.8s infinite linear;
}

.planet::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 8px solid #b1a693;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #7b6f42;
  animation: rings2 0.8s infinite linear;
}

@keyframes rings1 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
  }
  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.75);
  }
}

@keyframes rings2 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
  }
  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.7);
  }
}
/* **************** */
/* End loading page */
/* **************** */
